* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-y: hidden;
}

.home {
  width: 100vw;
  // min-height: 100vh;
  min-height: -webkit-fill-available;
  // height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: fff;
  box-shadow: 0px 0rem 0.5rem 0rem rgba(13, 12, 14, 0.1);

  .navlink-wrapper {
    padding: 0.5rem;
  }

  a {
    color: #aaa;
    // color: rgba(0, 0, 0, 0.54);
    transition: all 0.1s linear;
  }

  a.active {
    color: #3f51b5;
    // color: darkslateblue;
  }
}

// DESKTOP VIEW
@media only screen and (min-width: 768px) {
  .home {
    flex-flow: row-reverse;
  }

  .navigation {
    flex-flow: column;
    justify-content: flex-start;
    width: 12vw;
    // flex-wrap: wrap !important;

    .navlink-wrapper {
      width: 100%;
      padding: 0;
    }

    a {
      display: flex;
      padding: 1rem;
    }

    a.active {
      background-color: darkslateblue;
      color: white;
    }

    small {
      font-size: 1rem !important;
      margin-left: 1rem;
    }
  }
}
