* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: -webkit-fill-available;
}

.home {
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: fff;
  box-shadow: 0px 0rem 0.5rem 0rem rgba(13, 12, 14, 0.1);

  a {
    color: #aaa;
    // color: rgba(0, 0, 0, 0.54);
    transition: all 0.1s linear;
  }

  a.active {
    // color: rgb(128, 11, 11);
    color: #3f51b5;
    // font-size: 1.2rem;
  }
}
