#transact {
  padding: 1rem;
  // width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-flow: column;
    width: 95%;
  }

  form > * {
    margin-bottom: 1rem;
    width: -webkit-fill-available;
  }

  .description-text {
    padding: 18.5px 14px;
    border-width: 0.07rem;
    border-radius: 0.2rem;
    font-family: "Roboto";
    letter-spacing: 0.00938em;
    font-size: 1rem;
  }

  .description-text:focus {
    border: 0.12rem solid #3f51b5;
    outline: none;
  }

  .MuiFormGroup-root {
    // flex-direction: row;
  }
}
